*.iml
.gradle
/local.properties
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.cxx

.idea
/.idea
/release

keystore/keystore.properties
keystore/keyLearningJava.jks


